/checkpoint_epoch_inception_5.pth
/checkpoint_epoch_inception_6.pth
/checkpoint_epoch_inception_7.pth
/checkpoint_epoch_inception_8.pth
/checkpoint_epoch_inception_9.pth
/ImageNet10
/ImageNet1000
/__pycache__